::-webkit-scrollbar {
    width: 0.5rem;
    background: #444;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 0.25rem;
}

/* PHOTO GRID */
.photo-grid {
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.photo-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s;
}

.photo-grid img:hover {
    filter: brightness(120%);
    transform: scale(1.05);
}

.obj-pos-left {
    object-position: left;
}

.obj-pos-right {
    object-position: right;
}

.obj-pos-top {
    object-position: top;
}

.obj-pos-bottom {
    object-position: bottom;
}

.obj-pos-center {
    object-position: center;
}

@media (min-width: 341px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 150px;
    }
}

@media (min-width: 576px) {
    .photo-grid {
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-auto-rows: 240px;
    }
}

/* PHOTO GRID */

/* MODAL */
.modal-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #101014;
    color: #fff;
    display: none;
    flex-direction: column;
    overflow-y: scroll;
}

.modal-overlay::-webkit-scrollbar {
    width: 0;
    height: 100%;
    background-color: #101014;
}

.modal-overlay::-webkit-scrollbar-thumb {
    width: 0.5rem;
    border-radius: 0.25rem;
    background-color: #707075;
}

.sidebar-container {
    background-color: #212124;
}

.close-btn-container {
    display: flex;
    justify-content: end;
    margin-bottom: 1rem;
}

.close-btn {
    color: #97979b;
    font-size: 3rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    transition: 0.2s;
}

.close-btn:hover {
    color: #eee;
}

.nav-btns-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

.btn {
    width: 150px;
    font-weight: bold;
}

.info-container {
    padding: 1px 1rem;
}

.image-container {
    background-color: #18181b;
}

.full-img {
    width: 100%;
}

.full-vid {
    width: 100%;
    display: none;
}

.separator {
    width: 80%;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    margin: 1rem auto;
}

@media (min-width: 992px) {
    .modal-overlay {
        flex-direction: row;
        overflow-y: hidden;
    }

    .sidebar-container {
        order: 2;
        flex-shrink: 0;
        overflow-y: auto;
        width: 350px;
    }

    .image-container {
        width: 100%;
        overflow-y: auto;
    }

    .full-vid {
        height: 100%;
    }
}

@media (min-width: 1400px) {
    .sidebar-container {
        width: 400px;
    }
}

/* MODAL */